__pycache__/
*.py[cod]
.ipynb_checkpoints/

dataset/
model/
combined_representative_points.csv

model/*/weights/
model/*/outputs/
model/*/outputs_nearby/
model/*/outputs_lieswithin/
model/*/extra_output/
model/*/config.json
model/dataset_summaries/

output/
.DS_Store
